<p>This is where we should have a bunch of help text with information about how to get to your site,
how to manage your site, how to set up custom domains, how to customize your theme, etc.</p>

<p>This screen should also explain in brief what GCX is and introduce the user to the GCX branding so
they aren't confused when they go to the admin panel</p>

<p>Also, <%= link_to('click here to add other people from your team as admins of this website',
                     new_gcx_site_user_path(activity_id: activity.id)) %></p>

<p>If you want to change your site name, please email help@cru.org</p>
