<h2>Welcome to the Team Home page.</h2>
<b>Look for your Team by selecting the Region below:</b>
<br/>
<table>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td>
          <%= link_to region.name, team_region_path(region.abbrv) %>
          <%= link_to "(all)", team_region_all_path(region.abbrv, "all") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<b>Or search by Ministry:</b>
<br/>
<table>
  <tbody>
    <% @strategies.each_key do |strategy| %>
      <tr>
        <td><%= link_to @strategies[strategy], team_ministry_path(strategy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<b>Or search by City Gate:</b>
<br/>
<table>
  <tbody>
    <% Activity.city_strategies.each do |abbv, strategy| %>
      <tr>
        <td><%= link_to(strategy, team_ministry_path(abbv)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
