<h2><%= Region.full_name(@region) + ", " + State.states[@state] %></h2>
<b>Look for your Team by selecting the City below:</b><br/>
<% @cities.each do |ta| %>
  <%= link_to ta.city, team_city_path(@region, @state, ta.city) %><br/>
<% end %>
