<tr>
  <td <%= "colspan='3'" if type == "movement" %> class="muster_cap"><%= expand_type(type) %></td>
  <td class="muster_cap">Region</td>
  <td class="muster_cap">City</td>
  <td class="muster_cap">State</td>
  <td class="muster_cap">Country</td>
  <%= extra_column_header(type, enrollment) %>
</tr>
