$(document).ready(function(){
	$('input#target_area_name').focus(function(){
		$('#target_area_name_result').html("");
	});
	$('input#target_area_name').blur(function(){
		var value = $(this).val();
		if(value){
			$('#spinner_target_area_name').show();
			id = $('#location_id').val();
			$.ajax({url: window.location.protocol + '//' + window.location.host + '/locations/validate/' + value + "?id=" + id,
				data: '', 
				dataType: 'script',
				type: 'GET',
				success: function(data) {
					if(data == 0){
						$('span#target_area_name_result').html("<span class='positive'>Location Name is available!</span>");
						$('input#location_submit_button').removeAttr('disabled');
					}else if(data == 1){
						$('span#target_area_name_result').html("<span class='negative'>Location Name already taken!</span>");
						$('input#location_submit_button').attr('disabled', 'disabled');
					}else if(data == 2){
						$('span#target_area_name_result').html("");
						$('input#location_submit_button').removeAttr('disabled');
					}
				},
				complete: function() {
					$('#spinner_target_area_name').hide();
				}
			});
		}else{
			$('span#target_area_name_result').html("");
			$('input#location_submit_button').attr('disabled', 'disabled');
		}
	});
	$('form#new_team').submit(function(){
		$('input#location_submit_button').attr('disabled', 'disabled');
	});
	
});
