<table width="900" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td rowspan=3><img src="/images/header_noshield_01.gif" width=153 height=21></td>
    <td><img style="margin-left:140px;" src="/images/header_07.jpg" width=261 height=21></td>
    <td><a href="https://staff.campuscrusadeforchrist.com/servlet/StaffController?action=showHome"
        onmouseover="changeImages('header_08', '/images/header_08-over.jpg'); return true;"
        onmouseout="changeImages('header_08', '/images/header_08.jpg'); return true;">
        <img name="header_08" src="/images/header_08.jpg" width=54 height=21 border=0></a></td>
    <td><a href="https://staff.campuscrusadeforchrist.com/servlet/StaffController?action=showMPD"
        onmouseover="changeImages('header_09', '/images/header_09-over.jpg'); return true;"
        onmouseout="changeImages('header_09', '/images/header_09.jpg'); return true;">
        <img name="header_09" src="/images/header_09.jpg" width=55 height=21 border=0></a></td>
    <td><a href="https://staff.campuscrusadeforchrist.com/servlet/StaffController?action=showTools"
        onmouseover="changeImages('header_10', '/images/header_10-over.jpg'); return true;"
        onmouseout="changeImages('header_10', '/images/header_10.jpg'); return true;">
        <img name="header_10" src="/images/header_10.jpg" width=63 height=21 border=0></a></td>
    <td><a href="http://wiki.uscm.org/" target="_blank"
        onmouseover="changeImages('header_11', '/images/header_11-over.jpg'); return true;"
        onmouseout="changeImages('header_11', '/images/header_11.jpg'); return true;">
        <img name="header_11" src="/images/header_11.jpg" width=56 height=21 border=0></a></td>
    <td><a href="https://staff.campuscrusadeforchrist.com/links.jsp"
        onmouseover="changeImages('header_12', '/images/header_12-over.jpg'); return true;"
        onmouseout="changeImages('header_12', '/images/header_12.jpg'); return true;">
        <img name="header_12" src="/images/header_12.jpg" width=60 height=21 border=0></a></td>
    <td><a href="javascript: popupWindow('https://staff.campuscrusadeforchrist.com/help/help_home.jsp', 'StaffSiteHelp', 'height=550,width=600,dependent=yes,scrollbars=yes,resizable')"
        onmouseover="changeImages('header_13', '/images/header_13-over.jpg'); return true;"
        onmouseout="changeImages('header_13', '/images/header_13.jpg'); return true;">
        <img name="header_13" src="/images/header_13.jpg" width=58 height=21 border=0></a></td>
  </tr>
</table>