<table width="900" cellspacing="0" cellpadding="0" border="0" class="staffsitehead">
  <tr>
    <td rowspan="3"></td>    
    <td><%= image_tag "header_07.jpg", :style=>"margin-left:560px;", :width=>261, :height=>21 %></td>
    <td><%= image_tag "header_14_end.jpg", :width=>58, :height=>21 %></td>
    <td><div id="helpside"><a style="vertical-align:text-top;" href="/logout">&nbsp;&nbsp;&nbsp;Logout</a></div></td>
  </tr>
</table>