<table width="945" cellspacing="0" cellpadding="0" border="0" class="staffsitehead">
  <tr>
    
    <td align="right">
    	<div id="helpside">
    		<a style="font-size:12px;vertical-align:top" href="/logout">Logout</a>
    	</div>
    </td>
    
  </tr>
</table>