<li id="<%= counter %>" class="">
  <table class="movementheader">
    <tr onClick="javascript:$('#<%= counter %>').toggleClass('selected');">
      <th style="width:60px" class="expand"></th>
      <th class="schoolname">
        <span style="display:inline;float:left;padding-right:10px;text-align:left"><%= stat.activity.target_area.name if stat.activity %></span>
      </th>
    </tr>
  </table>
