<script type="text/javascript" language="javascript">
  var infoTimer;
  var infoBoxEl;
  function infoBox(mW,info,left) {
    document.getElementById(mW+'_info_box').innerHTML=document.getElementById(info+'_info_box').innerHTML;
    infoBoxEl=document.getElementById(mW+'_info_box');
    infoBoxEl.style.left=left+'px';
    infoTimer=setTimeout("infoBoxEl.style.display='block';",200);
  }

  function infoBoxClear(mW) {
    clearTimeout(infoTimer);
    document.getElementById(mW+'_info_box').style.display='none';
    document.getElementById(mW+'_info_box').innerHTML='';
  }
</script>

<script type="text/javascript" language="javascript">
  $('#0').toggleClass('selected');
</script>

<noscript>
  <style type="text/css">
    ul.results li{
      height: auto;
    }
  </style>
</noscript>

<div class="stats_input_key" id="input_key">
  <h4>Input Key</h4>
  <h5 style="margin:0px;margin-top:10px;">Personal Evangelism</h5>
  <div style="display:block" id="personal_evangelism_info_box">
    <div class="keyitem">How many people have heard the gospel and brought to a point of decision through personal evangelism (count each time you share the gospel with the same person)?<br/>
    (Includes staff, student, faculty & volunteer evangelism and personal internet evangelism)</div>
  </div>
  <h5 style="margin:0px;margin-top:10px;">Group Evangelism</h5>
  <div style="display:block" id="group_evangelism_info_box">
    
    <div class="keyitem">What was the total number of people who heard the gospel and brought to a point of decision through group evangelism?<br/>
    (Examples: evangelistic presentations at sports team meetings, in a classroom, at a Bible study, a weekly meeting; English Club, The Maze, The Jesus Film, holiday outreaches, Speaker’s Forum etc.  Count every person in the room.)</div>
    
  </div>
  
  <h5 style="margin:0px;margin-top:10px;">Media Exposures</h5>
  <div style="display:block" id="media_exposures_info_box">
    
    <div class="keyitem">How many people have been exposed to gospel content with an opportunity to respond through media exposures?<br/>
    (Examples:  Facebook Ads—count those who click on the ad, posting an evangelistic article—count each friend, myeverystudent.com/ES.com, FSKs; Bible, book etc.)</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Personal Evangelism Decisions</h5>
  <div style="display:block" id="decisions_personal_info_box">
    
    <div class="keyitem">How many people have indicated a decision to receive Christ as their Savior and Lord after hearing a personal presentation of the gospel?</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Group Evangelism Decisions</h5>
  <div style="display:block" id="decisions_group_info_box">
    
    <div class="keyitem">How many people have indicated a decision to receive Christ as their Savior and Lord after hearing a large group presentation of the gospel?</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Media Exposure Decisions</h5>
  <div style="display:block" id="decisions_media_info_box">
    
    <div class="keyitem">How many people have indicated a decision to receive Christ as their Savior and Lord after being exposed to the gospel via media?</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Involved Students</h5>
  <div style="display:block" id="involved_students_info_box">
    
    <div class="keyitem">How many students/faculty are regularly involved—attending movement events?</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Student Leaders</h5>
  <div style="display:block" id="student_leaders_info_box">
    
    <div class="keyitem">How many students/faculty are leading small groups of Win-Build-Send ministry? (Examples: groups focused on reaching target audiences, launching movements, etc.) <i>This number will be smaller than engaged disciples.</i></div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Multipliers</h5>
  <div style="display:block" id="multipliers_info_box">
    
    <div class="keyitem">How many students/faculty have intentionally engaged someone in a spiritual conversation within the past semester (the heart is that they have gone from merely attending movement events and begun to look outside of themselves to pass on their faith)?  Include all who are also leaders.</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Laborers Sent</h5>
  <div style="display:block" id="laborers_sent_info_box">
    
    <div class="keyitem">How many transitioning students have you walked through the Five Things, and sent out with a personal plan to live missionally as Christ-centered laborers?<br/>
    (Transitioning=graduating college, high school, community college, grad students and transfers)</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Faculty Sent</h5>
  <div style="display:block" id="faculty_sent_info_box">
    
    <div class="keyitem">How many faculty have you walked through the Five Things, and sent with a personal plan to live missionally as Christ-centered laborers? Or how many faculty have you sent to launch movements in someplace new (another country, another school, another department etc.)?</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Holy Spirit Presentations</h5>
  <div style="display:block" id="holy_spirit_conversations_info_box">
    
    <div class="keyitem">How many people have heard a presentation of the ministry of the Holy Spirit and been given the opportunity to respond?<br/>
    (Examples:  individual or group presentations of SFL concept; follow-up # 3; TC 3, Satisfied, etc. Count each person who hears this content.--everyone at a weekly meeting, everyone at a Bible study etc., and each time one person hears the SFL content.)</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Spiritual Conversations</h5>
  <div style="display:block" id="spiritual_conversations_info_box">
    
    <div class="keyitem">How many people have you engaged in a spiritual conversation but did not present the gospel and bring them to a point of decision (count each time you engage the same person)?<br/>
    (Examples— Introduced the KGP, Explorer part of Co-Journers, talking through Solarium, Perspective cards [just choosing their beliefs], personal testimony or a short film on personal Facebook page. Pre evangelistic conversations like asking what do you believe or tell me about your spiritual journey.)</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Seekers</h5>
  <div style="display:block" id="seekers_info_box">
    
    <div class="keyitem">This statistic is for Bridges movements only.</div>
    
  </div>
  <h5 style="margin:0px;margin-top:10px;">Dollars Raised</h5>
  <div style="display:block" id="dollars_raised_info_box">
    
    <div class="keyitem">How much in whole U.S. dollars was donated by attendees (not including conference fees and gear)?
    <br/>Note: Summer project directors do NOT need to enter anything for this field.</div>
    
  </div>
</div>
<script type="text/javascript" language="javascript">
  document.getElementById("input_key").style.display="none";
</script>
