<tr>
  <td class="report_header_label"><center><%= row_type.html_safe %></center></td>

  <td class="report_header_double" colspan="2"><center>Personal Evangelism <ul class="micro_event"><li>Exp.</li><li> Dec.</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Group Evangelism<ul class="micro_event"><li>Exp.</li><li> Dec.</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Media Exposures<ul class="micro_event"><li>Exp.</li><li> Dec.</li></ul></center></td>

  <td class="report_header_quadruple" colspan="4"><center>Sending<ul class="micro_event"><li>Spiritual Conversations</li><li>Holy Spirit Pres.</li><li>Laborers Sent</li><li>Faculty Sent</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Event<ul class="micro_event"><li>Students Involved</li><li>Dollars Raised</li></ul></center></td>
</tr>
