<tr>
  <td class="report_header_label" rowspan="2"><center><%= row_type.html_safe %></center></td>

  <td class="report_header_double" colspan="2"><center>Personal Evangelism</center></td>
  <td class="report_header_double" colspan="2"><center>Group Evangelism</center></td>
  <td class="report_header_double" colspan="2"><center>Media<br/>Exposures</center></td>

  <td class="report_header_quadruple" colspan="4"><center>Sending</center></td>
  <td class="report_header_triple" colspan="3"><center>Student Demographics</center></td>
  <td class="report_header_triple" colspan="3"><center>Faculty Demographics</center></td>
</tr>
<tr>
  <td class="report_header"><center>Exp.</center></td>
  <td class="report_header"><center>Dec.</center></td>
  <td class="report_header"><center>Exp.</center></td>
  <td class="report_header"><center>Dec.</center></td>
  <td class="report_header"><center>Exp.</center></td>
  <td class="report_header"><center>Dec.</center></td>

  <td class="report_header"><center>Spiritual Convos</center></td>
  <td class="report_header"><center>Holy Spirit Pres.</center></td>
  <td class="report_header"><center>Grad. on Mission</center></td>
  <td class="report_header"><center>Faculty on Mission</center></td>

  <td class="report_header"><center>Involved</center></td>
  <td class="report_header"><center>Engaged</center></td>
  <td class="report_header"><center>Leaders</center></td>

  <td class="report_header"><center>Involved</center></td>
  <td class="report_header"><center>Engaged</center></td>
  <td class="report_header"><center>Leaders</center></td>
</tr>