<tr>
  <td class="report_header_label"><center><%= row_type.html_safe %></center></td>

  <td class="report_header_double" colspan="2"><center>Personal Evangelism <ul class="micro"><li>Exp.</li><li> Dec.</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Group Evangelism<ul class="micro"><li>Exp.</li><li> Dec.</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Media Exposures<ul class="micro"><li>Exp.</li><li> Dec.</li></ul></center></td>

  <td class="report_header_double" colspan="2"><center>Sending<ul class="micro"><li>Holy Spirit Pres.</li><li>Laborers Sent</li></ul></center></td>
  <td class="report_header_quadruple" colspan="4"><center>Demographics<ul class="micro"><li>Students Involved</li><li>Multipliers</li><li>Student Leaders</li><li>Seekers (Bridges)</li></ul></center></td>
</tr>
