<tr>
  <td class="report_header_label"><center><%= row_type.html_safe %></center></td>

  <td class="report_header_double" colspan="2"><center>Personal Evangelism <ul class="micro"><li>Exp.</li><li> Dec.</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Group Evangelism<ul class="micro"><li>Exp.</li><li> Dec.</li></ul></center></td>
  <td class="report_header_double" colspan="2"><center>Media<br/>Exposures<ul class="micro"><li>Exp.</li><li> Dec.</li></ul></center></td>

  <td class="report_header_quadruple" colspan="4"><center>Sending<ul class="micro"><li>Spiritual Conversations</li><li>Holy Spirit Pres.</li><li>Grad. on Mission</li><li>Faculty on Mission</li></ul></center></td>
  <td class="report_header_triple" colspan="3"><center>Student Demographics<ul class="micro"><li>Involved</li><li>Engaged</li><li>Leaders</li></ul></center></td>
  <td class="report_header_triple" colspan="3"><center>Faculty Demographics<ul class="micro"><li>Involved</li><li>Engaged</li><li>Leaders</li></ul></center></td>
</tr>
