<h2><%= Region.full_name(@region).to_s + ", " + Country.full_name(@country).to_s %></h2>
<b>Look for your Location by selecting the City below:</b><br/>
<% @cities.each do |ta| %>
  <%= link_to ta.city, location_country_city_path(@region, @country, ta.city) %><br/>
<% end %>
