<h2><%= Region.full_name(@region) + ", " + State.states[@state] %></h2>
<b>Look for your Location by selecting the City below:</b><br/>
<% @cities.each do |ta| %>
  <%= link_to ta.city, region_locations_path + "/" + @region + "/state/" + @state + "/city/" + ta.city %><br/>
<% end %>
