<% content_for :content do %>
  <div id="breadcrumb">
    <%= link_to "Person Home", people_path %>&nbsp;&nbsp;TODO:Advanced Search
  </div>
  <%= yield %>
<% end %>
<%= render :file => 'layouts/application' %>
